<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
            <ul class="nav nav-pills">
             <% for(var i=0;i<nav.length;i++) { %>
                <li class="nav-item">
                  <a class="nav-link active" href="<%= nav[i].link %>"><%= nav[i].title %></a>
                </li>
            <% } %>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="/fashion">FASHION</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
              </ul>


    <div class="jumbotron jumbotron-fluid" style="background-color:lightskyblue">
        <div class="container">
          <h1 class="display-4">Explore....!!!</h1>
          <p class="lead">Welcome all....</p>
        </div>
      </div>
</body>
</html>